.box {
  width: 200px;

  &-left {
    margin-right: 50px;
  }
}

.btn {
  display: inline-flex;
}

.container {
  justify-content: center;
  align-items: center;
}

.card-range {
  margin: 20px;
}

.values {
  display: inline-flex;

  md-chip-list {
    position: absolute;
    top:0;
    display: inline-flex;
    margin-left: 40px;
 }
}

.actions {
  max-width: 50px;
  font-size: 12px;
}

.format-label {
  text-transform: uppercase;
}