.container {
  display: inline-flex;
  width: 100%;
}

.card-box {
  display: inline-block;
  margin: 50px 20px 10px 10px;
  padding-bottom: 10px !important;
  width: 62%;
  padding: 0;
  min-height: 475px;
  box-shadow: 0 5px 5px 5px rgba(0,0,0,.2), 0 5px 5px 0 rgba(0,0,0,.14), 0 5px 5px 0 rgba(0,0,0,.12) !important;

  md-card-actions {
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 10px;
  }
}

.json-card {
  margin-top: 50px;
  display: inline-block;
  justify-content: flex-start;
  width: 32%;
  padding: 0;
  height: 485px;
  box-shadow: 0 5px 5px 5px rgba(0,0,0,.2), 0 5px 5px 0 rgba(0,0,0,.14), 0 5px 5px 0 rgba(0,0,0,.12) !important;

  pre {
    padding: 10px 10px 10px 10px;
    margin-top: 0;
    height: auto;
    max-height: 400px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
  }
}
